<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792053659316-jbneqlmkgceelkr3eca0i3mihtvpq1on.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792053659316-jbneqlmkgceelkr3eca0i3mihtvpq1on</string>
	<key>API_KEY</key>
	<string>AIzaSyCvp_f8V2pykFZrs9B8eaS9VUpb3LKsZlo</string>
	<key>GCM_SENDER_ID</key>
	<string>792053659316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cemsezeroglu.berber</string>
	<key>PROJECT_ID</key>
	<string>berberrandevu-de05d</string>
	<key>STORAGE_BUCKET</key>
	<string>berberrandevu-de05d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792053659316:ios:ff8cf4c1c39e54699709e1</string>
	<key>DATABASE_URL</key>
	<string>https://berberrandevu-de05d.firebaseio.com</string>
</dict>
</plist>