<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67288405723-4abbrgaa50g2s6jg2dfa6uuegbsk4t7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67288405723-4abbrgaa50g2s6jg2dfa6uuegbsk4t7a</string>
	<key>API_KEY</key>
	<string>AIzaSyCFWtjM9gbKfVJoF4qm4koolucME0j4KQw</string>
	<key>GCM_SENDER_ID</key>
	<string>67288405723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cemsezeroglu.berber</string>
	<key>PROJECT_ID</key>
	<string>realtimeberberber</string>
	<key>STORAGE_BUCKET</key>
	<string>realtimeberberber.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67288405723:ios:b3fbd51d230b79cd311efe</string>
	<key>DATABASE_URL</key>
	<string>https://realtimeberberber.firebaseio.com</string>
</dict>
</plist>